.quotes {
  .quotesHeader {
    display: flex;
    justify-content: space-between;

    .textLarge {
      font-size: large;
    }
  }

  .violetText {
    font-size: 16px;
  }

  .buttonOrange {
    padding: .5rem;
    padding-inline: 2rem;
  }

  .quotesBox {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: left;
  }

}