.quoteBox {
  font-size: normal;
  background-color: var(--darkPurple);
  border: var(--darkBorder);
  border-radius: 1rem;
  padding: 2rem;
  width: 30rem;
  position: relative;
  padding-bottom: 1rem;

  &:hover {
    border-color: var(--golden);
    transition: 1s;
  }

  .goldenText {
    color: var(--golden);
  }

  .buttonsQuote {
    position: absolute;
    top: 18px;
    right: 20px;
    display: flex;
    gap: 1rem;

    .eraseButton {
      padding-inline: .7rem;
      height: 2.5rem;
      border-radius: .5rem;
      border: 1px solid rgba(255, 255, 255, 0.623);

      &:hover {
        background-color: rgba(255, 255, 255, 0.301);
        transition: 1s;
      }
    }

    .editButton {
      border: 1px solid rgba(255, 255, 255, 0.623);
      border-radius: .5rem;
      color: white;
      padding-inline: .7rem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.301);
        color: var(--golden);
        transition: 1s;
      }
    }
  }

  .notHovered {
    visibility: hidden;
  }

  .text {
    .quoteText {
      font-size: large;
      text-align: justify;
      /* separación de línea */
      white-space: pre-line;
      line-height: 1.5;
    }

    .footCard {
      margin-top: auto;
      display: flex;
      flex-direction: column;

      .goldenText {
        text-decoration: none;

        &:hover {
          color: rgb(255, 233, 188);
        }
      }

      .violetText {
        text-decoration: none;

        &:hover {
          color: rgb(255, 233, 188);
        }
      }
    }
  }
}